<!DOCTYPE html>
<html>
   <head>
      <title>Employee Database System</title>
      <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
      <link href="../public/css/dataTables.bootstrap4.min.css" rel="stylesheet">
      <link rel="../stylesheet" type="text/css" href="../public/css/design.css">
  
      <script src="../public/js/jquery.min.js"></script>
      <script src="../public/js/jquery.dataTables.min.js"></script>
      <script src="../public/js/dataTables.bootstrap4.min.js"></script>   
      <%- include('common/adm-prod-header')%>
      <div class="container mt-5 w-50">
         <h2 class="mb-4">Add New Product</h2>
         <form action="/add-prod-add" method="post" enctype="multipart/form-data">
            <input type="number" name="id" class="form-control" placeholder="Product id">
            <input type="text" name="prod_name" class="form-control" placeholder="Product name">
            <input type="text" name="category" class="form-control" placeholder="Product category">
            <input type="number" name="price" class="form-control" placeholder="Product price">
            <input type="file" name="image" class="form-control">
            <button type="submit" class="btn btn-danger btn-block mt-3">Add to Database</button>
         </form>
      </div>
      <%- include('common/footer') %>